<!-- Navbar -->
<nav
  class="absolute top-0 left-0 w-full z-10 bg-transparent md:flex-row md:flex-nowrap md:justify-start flex items-center p-4"
>
  <div
    class="w-full mx-autp items-center flex justify-between md:flex-nowrap flex-wrap md:px-10 px-4"
  >

  <span id="logo"><img [routerLink]="['/']" src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_2-9665a76b1ae401a510ec1e0ca40ddcb3b0cfe45f1d51b77a308fea0845885648.svg" width="250px">&nbsp;</span>
    <!-- Brand -->
    <a
      class="uppercase hidden lg:inline-block "
      href="#pablo"
      >Mis películas favoritas</a
    >
    <a
    class="uppercase hidden lg:inline-block "
    [routerLink]="['/public/actorList']"
    >Actores populares</a
  >

  <app-login-component>

  </app-login-component>


  </div>
</nav>
