<div>
  <h1>Bienvenido al gestor de películas y actores The Movie DB</h1>

  <h2>Este proyecto ha sido desarrollado por el alumno Antonio Montero García para los módulos PMDM y DI</h2>

  <h3>Podras hacer uso del Login para iniciar sesión en tu cuenta de TheMovieDB para así poder gestionar la informacion referente a tu usuario.</h3>
  <h3>Actualmente solo pudes consultar el listado de actores, pudiendo acceder a sus detalles y el listado de películas en las que ha trabajado.</h3>

  <h3>Las tecnologías que he usado han sido Angular como framework, Git como gestor de versiones y Toggl para la gestión de tareas y tiempo.</h3>

</div>