<a
  class="text-blueGray-500 block"
  href="#pablo"
  (click)="toggleDropdown($event)"
  #btnDropdownRef
>
  <div class="items-center flex">
    <span
      class="w-12 h-12 text-sm text-white  inline-flex items-center justify-center rounded-full"
    >
      <img
        alt="..."
        src="../../../../assets/img/user.svg"
      />
    </span>
  </div>
</a>
<div class="min-w-48 z-50" #popoverDropdownRef>
  <div
    class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1 min-w-48"
    [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'"
  >
  <p (click)="requestToken()" *ngIf="!approved" class="example-icon" aria-hidden="false"
      >Login
    </p>
    <p (click)="logout()" *ngIf="approved" class="example-icon" aria-hidden="false"
      aria-label="Example delete icon">Logout
  </p>
  </div>
</div>
